<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>send_html which is rendered by Flask by using render_templates</h1>
        <h1>{{name}}</h1>

        <img src="{{url_for('static',filename='images/car.jpg')}}" alt="" srcset="" height="400px" width="600px"><br>
        <h1><a href="{{url_for('properties')}}">Go to properties page</a></h1>
    </center>
</body>
</html>